/* Пункт списка */
.ItemBasket {
  display: flex;
  justify-content: flex-start;
  transition: background-color 1s;
  padding-left: 10px
}

.ItemBasket-code {
  padding: 20px 10px 20px 20px;
}

.ItemBasket-title {
  width: 100%;
  padding: 20px 10px;
  color: black;
  text-decoration-line: none;
}

.ItemBasket-title:hover {
  text-decoration-line: underline;
}

.ItemBasket-right {
  padding: 20px 20px 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ItemBasket-cell {
  min-width: 95px;
  text-align: right;
  font-size: 18px;
  white-space: nowrap;
}
