/* Контрол с общими действиями */
.BasketTool-wrapper {
  display: flex;
  justify-content: space-between;
}

.BasketTool-label {
  padding: 20px;
  font-size: 18px;
}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}
